[submodule "pytorch"]
	path = pytorch
	url = https://github.com/crigg8/pytorch.git
	branch = pytorch-chipyard
[submodule "triton"]
	path = triton
	url = https://github.com/crigg8/triton.git
	branch = pytorch-chipyard
[submodule "triton_chipyard"]
	path = triton_chipyard
	url = https://github.com/crigg8/triton-chipyard.git
	branch = pytorch-chipyard
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/crigg8/llvm-project.git
	branch = pytorch-chipyard
[submodule "buddy-mlir"]
	path = buddy-mlir
	url = https://github.com/crigg8/LLAPI-buddy-mlir.git
	branch = pytorch-chipyard
